n8n-workflows/direciona-pedido.json
{
  "name": "direciona-pedido",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "direciona-pedido",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Receber Pedido",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "a1b2c3d4-0001-4000-8000-000000000099"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/pedidos",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 10000
        },
        "onError": "continueErrorOutput"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Enviar para Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ok\", \"numero\": $json.numero, \"mensagem\": \"Pedido registrado com sucesso\" } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ { \"status\": \"erro\", \"numero\": \"N/A\", \"mensagem\": \"Falha ao registrar o pedido. Tente novamente em instantes.\" } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 420]
    }
  ],
  "connections": {
    "Receber Pedido": {
      "main": [
        [
          {
            "node": "Enviar para Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar para Dashboard": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1b2c3d4-ffff-4000-8000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "pede-pizza-piracicaba"
  },
  "id": "pede-pizza-workflow-001",
  "tags": []
}
